@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR', serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  body {
    background-color: #012619;
    margin: 0;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
  }
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      /* Chrome, Safari and Opera */
      display: none;
    }
  }
}
